* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

@import 'https://fonts.googleapis.com/css?family=Lato:400,700';


body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  background-color: #eee;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  position: sticky;
  top: 0;
  width: 100%;
}

.brand-logo {
  width: 100%;
  height: 100%;
  max-width: 300px;
}

nav {
  margin-top: 10px;
}

nav li {
  list-style-type: none;
  margin: 3px;
  text-align: center;
}

a { 
  color: #000;
  text-decoration: none;
}

main {
  padding: 2%;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

form {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.email {
  height: 30px;
  margin-top: 20px;
  padding: 10px;
  width: 300px;
}

.submit {
  background-color: rgb(241, 218, 85);
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 1000;
  margin: 3%;
  padding: 7px 2%;
  width: 200px;
  transition: 0.9 ease;
}

.submit:hover {
  background-color: rgb(255, 179, 116);
}

.grid {
  margin: 10px 0;
}

.icon {
  visibility: hidden;
  text-align: center;
}

.feature {
  text-align: center;
  margin: 0px 0 20px;
}

.feature h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 600;
}

iframe {
  margin: 50px 0;
  width: 120%;
}

.trombone {
  border: solid #000 1px;
  border-radius: 5px;
  width: 300px;
  margin: 10px auto;
  text-align: center;  
  transition: 0.5s ease-in-out;
}

.trombone:hover {
  transform: translateY(-20px);
}

.trombone h3 {
  background-color: rgb(208, 208, 214);
  font-size: 18px;
  font-weight: 500;
  padding: 5%;
  text-align: center;
}

.trombone h4 {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0;
}

.trombone ul {
  margin: 25px;
}

.trombone li { 
  list-style: none;
  margin: 10px;
}

.buy-btn {
  background-color: rgb(241, 218, 85);
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px;
  padding: 8px;
  width: 35%;
  transition: 0.9 ease;
}

.buy-btn:hover {
  background-color: rgb(255, 179, 116);
}

footer {
  background-color: rgb(208, 208, 214);
  margin-top: 20px;
  padding: 2%;
  text-align: right;
}

footer ul {
  display: inline-block; 
  list-style-type: none;
  padding: 10px;
  width: 100%;
}

footer li {
  display: inline-block;
  font-weight: 400;
  margin: 0 10px;
}

footer p {
  font-weight: 200;
  text-align: right;
}

/* ----- MEDIA QUERIES ----- */

@media (min-width: 480px) {

  .features {
    margin: 40px 0;
  }

  .grid { 
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: " icon h3"
                          "icon p";
  }

  .icon {
    grid-area: icon;
    visibility: visible;
    color: rgb(240, 163, 21);
    text-align: center;
    align-self: center;
  }

  h3 {
    grid-area: h3;
    text-align: left;
  }

  p {
    grid-area: p3;
    text-align: left;
  }
}

@media (min-width: 516px) {
  header {
    flex-direction: row;
    justify-content: left
  }
  
  nav {
    margin-left: auto;
    margin-right: 10%;
  }

  iframe {
    width: 80%;
    margin: 0 10%;
  }
}


@media (min-width: 768px) {

  header {
    padding: 2% 3%;;
  }

  nav {
    margin: auto 0 auto auto;
  }
  
  nav li { 
    display: inline-block;
  }
  
  .pricing-grid {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 95vw;
  }

  .trombone {
    margin-top: 50px;
    max-width: 30%;
  }

  footer {
    padding: .5% 2%;
  }

}


@media (min-width: 1025px) {

  .container {
    width: 65%;
    margin: 0 auto;
  }

  .pricing-grid {
    width: 75%;
    margin: 0 auto;
  }

  
}

@media (min-width: 1201px) {

  iframe {
    width: 60%;
    margin: 0 20% 50px;
  }

}
